<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dazhou.project.mapper.GoodsMapper">

    <resultMap id="BaseResultMap" type="com.dzapicommon.entity.service.model.entity.Goods">
            <id property="goods_id" column="goods_id" jdbcType="BIGINT"/>
            <result property="goods_name" column="goods_name" jdbcType="VARCHAR"/>
            <result property="goods_img" column="goods_img" jdbcType="VARCHAR"/>
            <result property="goods_price" column="goods_price" jdbcType="FLOAT"/>
            <result property="unit" column="unit" jdbcType="VARCHAR"/>
            <result property="store" column="store" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        goods_id,goods_name,goods_img,
        goods_price,unit,store,
        createTime,updateTime,isDelete
    </sql>
</mapper>
