<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dazhou.project.mapper.OrderPayMapper">

    <resultMap id="BaseResultMap" type="com.dzapicommon.entity.service.model.entity.OrderPay">
            <id property="orderId" column="orderId" jdbcType="VARCHAR"/>
            <result property="userName" column="userName" jdbcType="VARCHAR"/>
            <result property="goodsName" column="goodsName" jdbcType="VARCHAR"/>
            <result property="payMethod" column="payMethod" jdbcType="VARCHAR"/>
            <result property="payPrice" column="payPrice" jdbcType="INTEGER"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        orderId,userName,goodsName,
        payMethod,payPrice,status,
        createTime,updateTime,isDelete
    </sql>
</mapper>
